---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

const posts = await getCollection('posts')
const series = [
  ...new Set(
    posts
      .filter((post) => {
        return post.data.serie
      })
      .map((post) => {
        return post.data.serie
      })
  )
]
const genres = [
  ...new Set(
    posts
      .filter((post) => {
        return post.data.genre
      })
      .map((post) => {
        return post.data.genre
      })
  )
]
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Posts</h1>
    <h3>Genre</h3>
    <ul>
      {
        genres.map((genre) => {
          return (
            <li>
              <a href={`/posts/genre/${genre}`}>{genre}</a>
            </li>
          )
        })
      }
    </ul>

    <h3>Series</h3>
    <ul>
      {
        series.map((serie) => {
          return (
            <li>
              <a href={`/posts/series/${serie}`}>{serie}</a>
            </li>
          )
        })
      }
    </ul>
  </main>
</Layout>

<style></style>
