---
import Layout from '../../layouts/Layout.astro'
import { PostsService } from '../../services/posts/posts.service'

const service = await PostsService.init()

const series = await service.getSeries()
const genres = await service.getGenres()
---

<Layout title="Posts">
  <main>
    <h1>Posts</h1>
    <ul>
      <li>
        <a href={`/posts/all_`}>All Posts</a>
      </li>
    </ul>
    <h3>Genre</h3>
    <ul>
      {
        genres.map((genre) => {
          return (
            <li>
              <a href={`/posts/genres/${genre}`}>{genre}</a>
            </li>
          )
        })
      }
    </ul>

    <h3>Series</h3>
    <ul>
      {
        series.map((serie) => {
          return (
            <li>
              <a href={`/posts/series/${serie}`}>{serie}</a>
            </li>
          )
        })
      }
    </ul>
  </main>
</Layout>

<style></style>
