---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About | okmtyuta.phd">
  <h1>Overview</h1>

  <p>
    広い意味で数理科学と情報科学を勉強しています。とくに 数理物理学（量子力学）
    ，確率統計学，代数学，幾何学，プログラミング言語，機械学習 ，暗号理論
    に興味があります。いずれの分野についてもその理論構造に強い関心があります。また，UI/UXデザインやグラフィックデザインにも興味があります。
  </p>

  <p>
    I am majored in mathematical sciences and information technologies in a
    broad sense. I am particularly interested in quantum mechanics , probability
    and statistics, algebra, geometry, programming languages, machine learning , and
    cryptology . For each areas, I am strongly interested in their theoretical
    structure.
  </p>

  <h1>Educations</h1>

  <p>
    大学では数理物理学を学習しました。大学院では位相的データ解析と統計的機械学習について研究しています。
  </p>

  <p>
    I have studied Mathematical Physics in undergraduate school. In graduate
    school, I am going to study topological data analysis and statistical machine learning.
  </p>

  <ul>
    <li>
      Bachelor's degree. Department of Mathematics, Faculty of Science,
      University of Tokyo : 2020 April - 2024 March.
    </li>
    <li>
      Master's degree. Graduate School of Informatics, Kyoto University: 2024
      April - 2026 March.
    </li>
  </ul>

  <h1>Experiences</h1>

  <p>
    学外ではソフトウェアエンジニアとして活動してきました。機械学習やUI/UXデザインの領域でも価値を出していきたいと思っています。
  </p>

  <p>
    I have worked as software engineer. From now on, I would like to be active
    in the areas of not only software, but also Machine Learning and UI/UX
    design.
  </p>

  <ul>
    <li>Rakuten Group, Inc. : August 2022, Application Engineer.</li>
    <li>
      Net Protections, Inc. : October 2022 - April 2023, Application Engineer.
    </li>
    <li>
      PKSHA Technology, Inc. : March 2023 - April 2023, Software Engineer.
    </li>
    <li>PKSHA Technology, Inc. : October 2023 - Current, Software Engineer.</li>
  </ul>
</Layout>
