*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
:where(body) {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  user-select: auto;
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
  box-sizing: border-box;
}
::placeholder {
  color: unset;
}
::marker {
  content: initial;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  user-select: auto;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable='true']) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* default style */

h1 {
  margin-top: 64px;
  margin-bottom: 24px; /* mobile */
  @media screen and (max-width: 767px) {
    font-size: 30px;
  } /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 30px;
  } /* pc */
  @media screen and (min-width: 1025px) {
    font-size: 36px;
  }
  font-weight: 700;
}
h2 {
  margin-top: 64px;
  margin-bottom: 24px; /* mobile */
  @media screen and (max-width: 767px) {
    font-size: 26px;
  } /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
  } /* pc */
  @media screen and (min-width: 1025px) {
    font-size: 30px;
  }
  font-weight: 400;
}
h3 {
  margin-top: 40px;
  margin-bottom: 24px; /* mobile */
  @media screen and (max-width: 767px) {
    font-size: 22px;
  } /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 22px;
  } /* pc */
  @media screen and (min-width: 1025px) {
    font-size: 26px;
  }
  font-weight: 700;
}
h4 {
  margin-top: 40px;
  margin-bottom: 16px; /* mobile */
  @media screen and (max-width: 767px) {
    font-size: 20px;
  } /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 20px;
  } /* pc */
  @media screen and (min-width: 1025px) {
    font-size: 24px;
  }
  font-weight: 700;
}
h5 {
  margin-top: 40px;
  margin-bottom: 16px; /* mobile */
  @media screen and (max-width: 767px) {
    font-size: 18px;
  } /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 18px;
  } /* pc */
  @media screen and (min-width: 1025px) {
    font-size: 22px;
  }
  font-weight: 700;
}
h6 {
  margin-top: 24px;
  margin-bottom: 16px; /* mobile */
  @media screen and (max-width: 767px) {
    font-size: 16px;
  } /* tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 16px;
  } /* pc */
  @media screen and (min-width: 1025px) {
    font-size: 18px;
  }
  font-weight: 700;
}
html {
  scroll-padding-top: 98px;
}
body {
  color: #3c3c3c;
}

p {
  line-height: 1.7;
  margin-top: 12px;
  margin-bottom: 12px;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

pre {
  padding: 12px;
}

img {
  width: 100%;
  padding: 0 20%;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}
figcaption > p {
  margin: 0;
}

blockquote {
  font-style: italic;
  padding-left: 12px;
  border-left: 3px #aaa solid;
  color: #3c3c3c;
}

code.inline-code {
  background-color: #9e3d3f1f;
  color: #9e3d3f;
  padding: 4px;
  border-radius: 4px;
}
/* ------ */

.katex {
  font-size: 1rem;
}
.katex-display {
  overflow-x: scroll;
}
.katex-display > .katex > .katex-html {
  position: relative;
}
.katex-display > .katex > .katex-html > .base {
  max-width: 80%;
}
.katex-display > .katex > .katex-html > .tag {
  right: initial;
  left: 0;
}

li {
  position: relative;
  padding-left: 16px;
  margin: 4px 0;
}

ul > li:before {
  content: '';
  position: absolute;
  top: calc(0.5lh - 3px);
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #3c3c3c;
  border-radius: 50%;
}
ol > li {
  counter-increment: cnt;
}
ol > li:before {
  content: '(' counter(cnt) ') ';
  margin-right: 4px;
}

body {
  counter-reset: section 0;
}

.theorem .label {
  margin-left: 4px;
  margin-right: 8px;
}
.theorem .label::before {
  content: '(';
}
.theorem .label::after {
  content: ')';
}

.theorem > :first-child:before {
  font-weight: bold;
  counter-increment: theorem 1;
}
.theorem:not(:has(.label)) > :first-child:before {
  margin-right: 8px;
}

.dfn > :first-child:before {
  content: 'Def. ' counter(section) '.' counter(theorem);
}
.prop > :first-child:before {
  content: 'Prop. ' counter(section) '.' counter(theorem) ' (';
}
.thm > :first-child:before {
  content: 'Thm. ' counter(section) '.' counter(theorem) ' (';
}
.lem > :first-child:before {
  content: 'Lem. ' counter(section) '.' counter(theorem) ' (';
}
.cor > :first-child:before {
  content: 'Cor. ' counter(section) '.' counter(theorem) ' (';
}
.ex > :first-child:before {
  content: 'Ex. ' counter(section) '.' counter(theorem) ' (';
}
.eg > :first-child:before {
  content: 'e.g. ' counter(section) '.' counter(theorem) ' (';
}

.proof > :first-child::before {
  font-style: italic;
  padding-right: 8px;
  content: 'proof';
}
.proof {
  padding-left: 12px;
  border-left: 3px #3c3c3c solid;
}

h3.section {
  counter-reset: theorem 0;
}
h3.section::before {
  counter-increment: section 1;
  content: counter(section) '.';
  padding-right: 8px;
}
