---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Contents</h1>
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="https://about.me.yuta.app">About</a></li>
    </ul>
  </main>
</Layout>

<style></style>
