---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contents">
  <main>
    <h1>Contents</h1>
    <ul>
      <li><a href="/posts">Posts</a></li>
    </ul>
  </main>
</Layout>

<style></style>
