---
import { type CollectionEntry } from 'astro:content'
import Layout from '../../../layouts/Layout.astro'
import { PostsService } from '../../../services/posts/posts.service'

export async function getStaticPaths() {
  const service = await PostsService.init()
  const tags = service.listTags()

  return tags.map((tag) => {
    return { params: { tag }, props: { service } }
  })
}
type Props = {
  posts: CollectionEntry<'posts'>[]
  service: PostsService
}
const { tag } = Astro.params
const { service } = Astro.props
const taggedPost = service.findByTags([tag])
---

<Layout>
  <h1>{tag}</h1>
  <ul>
    {
      taggedPost.map((post) => {
        return (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
          </li>
        )
      })
    }
  </ul>
</Layout>
