---
import Layout from '../../../layouts/Layout.astro'
import { PostsService } from '../../../services/posts/posts.service'

const service = await PostsService.init()
const tags = service.listTags()
---

<Layout>
  <h1>Tags</h1>
  <ul>
    {
      tags.map((tag) => {
        return (
          <li>
            <a href={`/posts/tags/${tag}`}>{tag}</a>
          </li>
        )
      })
    }
  </ul>
</Layout>
