---
import { getCollection, type CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Layout from '../../../layouts/Layout.astro'
import { getPostThumbnail } from '../../../shared/get-post-thumbnail'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  const series = [
    ...new Set(
      posts
        .filter((post) => {
          return post.data.serie
        })
        .map((post) => {
          return post.data.serie
        })
    )
  ]

  return series.map((serie) => {
    return { params: { serie: serie }, props: { posts } }
  })
}

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/posts/**/*.{png,jpg}'
)

type Props = {
  posts: CollectionEntry<'posts'>[]
}
const { serie } = Astro.params
const { posts } = Astro.props
const seriePosts = posts.filter((post) => {
  return post.data.serie === serie
})
---

<Layout>
  <h1>{serie}</h1>
  <ul>
    {
      seriePosts.map((post) => {
        const thumbnail = getPostThumbnail(post.slug, post.data.genre, null)

        return (
          <li>
            <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            <Image src={thumbnail()} alt="A bird." />
          </li>
        )
      })
    }
  </ul>
</Layout>
