---
import { getCollection } from 'astro:content'

import Layout from '../../../layouts/Layout.astro'

const posts = await getCollection('posts')
const series = [
  ...new Set(
    posts
      .filter((post) => {
        return post.data.serie
      })
      .map((post) => {
        return post.data.serie
      })
  )
]
---

<Layout>
  <h1>Series</h1>
  <ul>
    {
      series.map((serie) => {
        return (
          <li>
            <a href={`/posts/series/${serie}`}>{serie}</a>
          </li>
        )
      })
    }
  </ul>
</Layout>
