---
import { getCollection, type CollectionEntry } from 'astro:content'

import Layout from '../../../layouts/Layout.astro'

const travelogues = await getCollection('travelogues')
const series = [
  ...new Set(
    travelogues
      .filter((travelogue) => {
        return travelogue.data.serie
      })
      .map((travelogue) => {
        return travelogue.data.serie
      })
  )
]
---

<Layout>
  <h1>Series</h1>
  <ul>
    {
      series.map((serie) => {
        return (
          <li>
            <a href={`/travelogues/series/${serie}`}>{serie}</a>
          </li>
        )
      })
    }
  </ul>
</Layout>
